.shape{
    position: absolute;
    clip-path: inset(5% 20% 15% 10%);
    background: #fcaf3c;
    width: 101%;
    z-index: 5;
    height: 78%;
    border-radius: 10px;
    TOP: 25%;
    LEFT: -4%;
}

.texte h1{
    position: relative;
    height: fit-content;
    width: fit-content;
}

.texte h1::before{
    position: absolute;
    content: '';
    width: 50%;
    height: 3px;
    background: #fcaf3c;
    bottom: 0;
    left: 0;
}