::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #fcaf3c;
}

html{
  transition: 4s;
  scroll-behavior: smooth;
}

.reveal{
  position: relative;
  top: 200px;
  opacity: 0;
  transition: 2s ease-in-out;
}

.reveal.active{
  position: relative;
  top: 0px;
  opacity: 1;
  transition: 1s ease-in-out;
  z-index: 10;
}